@font-face {
  font-family: 'Leto';
  src: url("../fonts/LetoSans.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'LetoThin';
  src: url("../fonts/LetoSansThin.ttf");
}
@font-face {
  font-family: 'Reforma';
  src: url("../fonts/Reforma.otf");
}
